@model EmployeeAllocationVM

@{
    ViewData["Title"] = "View Allocations";
}


@section PageHeading{
View Allocations for @Model.FristName @Model.LastName
}


<div class="row">
    <div class="col-md-6">
<div class="card mb-4 py-3 border-left-primary">
                                <div class="card-body">
<dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.FristName)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.FristName)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.DateJoined)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.DateJoined)
        </dd>
    </dl>                                    
                                </div>
                            </div>
    </div>
    <div class="col-md-6">
<div class="card shadow mb-4">
  <div class="card-header py-3">
   <h6 class="m-0 font-weight-bold text-primary">Leave Allocations</h6>
  </div>
    <div class="card-body">
<ul class="list-group list-group-flush">
        @foreach(var allocation in Model.LeaveAllocations)
        {            
            <li class="list-group-item">
               <strong>@allocation.LeaveType.Name </strong> 

                <button type="button" class="btn btn-info position-relative btn-sm">
                  Allocated
                  <span class="badge rounded-pill bg-danger">
                    @allocation.LeaveType.DefaultDays
                  </span>
                </button>
                &nbsp;&nbsp;
                <button type="button" class="btn btn-info position-relative btn-sm">
                  Remaining
                  <span class="badge rounded-pill bg-danger">
                    @allocation.NumberOfDays   
                  </span>
                </button>
                &nbsp;&nbsp;
                <a asp-action="EditAllocation" asp-route-id="@allocation.Id" title="Edit allocation" data-bs-toggle="tooltip"  class="btn btn-warning btn-circle btn-sm"> <i class="fas fa-edit"></i> </a> 
            </li>
        }
  </ul>
</div>
  
</div>
    </div>
</div>



<div>
    <a asp-action="Index">Back to List</a>
</div>
