@model LeaveRequestVM

@{
    ViewData["Title"] = "Leave Request Details";
}
@section PageHeading{
Leave Request Details
}
<div class="row">
    <div class="col-md-6">            

                            <div class="card border-left-@Model.HeadingCssClass shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-@Model.HeadingCssClass text-uppercase mb-1">
                                                @Model.HeadingText</div>
                                            <div class="mb-0 font-weight-bold text-gray-800">

                                                <p>
                                                    <strong>Employee Name: </strong> @Model.Employee.FristName @Model.Employee.LastName
                                                </p>
                                                <p>
                                                    <strong> @Html.DisplayNameFor(model => model.DateRequested)</strong> @Html.DisplayFor(model => model.DateRequested)
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    </div>
    <div class="col-md-6">
<div class="card mb-4 py-3 border-left-secondary">
                                <div class="card-body">
 <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.LeaveType)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.LeaveType.Name)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.RequestComments)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.RequestComments)
        </dd>
    </dl>
                                </div>
                            </div>

    </div>
</div>


<div>
    <br />
        <div class="row">
    @if(Model.Approved == null)
    {
        <div class="col-md-1">
            <form  asp-action="ApproveRequest">
                <input asp-for="Id" type="hidden">
                <input name="Approved" value="true" type="hidden">
                <button class="btn btn-success">Approve</button>
            </form>
        </div>
        <div class="col-md-1">

            <form  asp-action="ApproveRequest">
                <input asp-for="Id" type="hidden">
                <input name="Approved" value="false" type="hidden">
                <button class="btn btn-danger" >Reject</button>
            </form>
        </div>
    }
        <div class="col-md-3">

    <a asp-action="Index">Back to List</a>
        </div>
        </div>
</div>
